.ant-modal-mask {
  background-color: rgba(32, 32, 32, 0.5) !important;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  border: 2px dashed var(--blue-500) !important;
  margin: 0;
  padding: 0;
}

.created_channel_modal {
  padding: 0 !important;
  width: 40% !important;
  height: auto !important;

  .ant-modal-content {
    background-color: var(--blue-900);
    width: 100% !important;
    height: 100% !important;
    color: var(--text-white);

    .ant-row {
      margin: 0 !important;
    }

    .new_channel_modal--title {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 1.2rem;
      color: var(--text-gray);
      font-weight: 500;
    }

    .ant-modal-close-x {
      color: var(--text-white);
    }
  }

  .channel-created-name {
    color: var(--text-gray);
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  .button-manage-channel {
    background-color: var(--orange-800);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    
    &:hover {
      border: 1px solid var(--text-white);
    }
  }
}

.new_channel_modal {
  padding: 0 !important;
  width: 60% !important;
  height: auto !important;

  .ant-modal-content {
    background-color: var(--blue-900);
    width: 100% !important;
    height: 100% !important;
    color: var(--text-white);

    .ant-row {
      margin: 0 !important;
    }

    .new_channel_modal--title {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 1.2rem;
      color: var(--text-gray);
      font-weight: 500;
    }

    .form_new_channel {
      margin: 4dvh 0 0;
      height: 100%;

      input {
        border: 1px solid var(--blue-500);
        height: 4dvh;
        margin-top: 4px;
      }

      label {
        color: var(--text-gray);
      }

      .ant-upload .ant-upload-select {
        border: 1px dashed var(--text-gray) !important;
      }

      .ant-upload-wrapper {
        margin-top: 4px;
      }

      .avatar-uploader {
        .ant-upload,
        img {
          width: 200px;
          height: 200px;
          border-radius: 8px;
          color: white;
        }
      }

      .text-area_container {
        textarea {
          border: 1px solid var(--blue-500);
          background-color: var(--blue-400);
          color: var(--text-gray);
          margin-top: 4px;

          &::placeholder {
            color: var(--text-gray);
          }
        }
      }

      .btn_new_channel {
        background-color: var(--orange-800);
        height: 4dvh;
        width: 16%;

        &:hover {
          border: 1px solid var(--text-gray);
        }
      }
    }
  }

  .ant-modal-close-x {
    color: var(--text-white);
  }
}
