.sider-content-layout {
  background-color: var(--blue-900) !important;
}

.ant-layout-sider,
.ant-menu {
  background-color: var(--blue-900) !important;

  .menu-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    
    .divider-area {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #34373C;

      .label-head-sider {
        color: var(--blue-600);
        font-size: 0.8rem;
        margin: 0.5rem 0 !important;
      }
    }

    .divider-bottom-area{
      display: flex;
      align-items: flex-end;
      height: 30dvh;
    }

    .ant-menu-item {
      padding-left: 0 !important;

      &:hover {
        background-color: var(--blue-900) !important;
        font-weight: 400;
      }

      .icon-container {
        background-color: #41434738;
        padding: 0.5rem;
        border-radius: 10px;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
      }

      .img-container{
        border-radius: 10px;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 10px;
        }
      }
    }

    .ant-menu-item-selected {
      background-color: var(--blue-900) !important;
      font-weight: 500;

      &:hover {
        font-weight: 500;
      }

      .icon-container {
        background-color: var(--orange-800);
      }
    }
  }
}

.ant-layout-sider {
  display: flex;
  flex: 0 0 200px !important;
  padding: 0 1.8vw 1.8vw;
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
  overflow-x: hidden !important;

  .ant-layout-sider-children {
    width: 100%;
    min-width: 8vw;
  }
}
