.user-menu-option{
  color: var(--text-gray)
}

.layout-header {
  width: 100% !important;
  height: 100dvh;
  .header {
    background-color: var(--blue-900) !important;
    padding: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    z-index: 10;

    .area-logo-img {
      padding: 0 2rem;
      width: 14rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo-img {
        width: 96%;

        &:hover {
          cursor: pointer;
          transition: 500ms;
          transform: scale(1.1);
        }
      }
    }

    .container-search {
      margin: 0 2rem;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-input {
        width: 80% !important;

        .ant-input-clear-icon {
          color: var(--text-gray);
        }
        .ant-input-affix-wrapper {
          padding: 0 1rem;
          background: transparent !important;
          border: 1px solid var(--blue-600);
          height: 2.2rem;
          border-radius: 20px 0 0 20px;
          &:hover {
            caret-color: var(red);
          }

          input {
            border: none;
            background: transparent !important;
            color: var(--text-gray);

            &::placeholder {
              color: var(--text-gray);
            }
          }
        }

        .ant-input-group-addon {
          background: var(--blue-600) !important;
          border: 1px solid var(--blue-600);
          border-radius: 0 20px 20px 0;

          button {
            width: 2.4rem;
            padding: 0.4rem 0.6rem 0.4rem 0.4rem;
            background: transparent !important;
            border: none;
            color: var(--text-gray) !important;
          }
        }
      }
    }

    .container-account {
      margin: 0 2vw 0 0;
      width: 20%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 80%;

      .avatar-account {
        width: 30px;
        height: 30px;
        font-size: 24px;
      }

      .salute-user {
        color: var(--text-gray);
        padding: 0 0 0 1rem;
        font-size: 14px;

        .ant-space-item {
          white-space: nowrap;
          width: auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .anticon-down {
          font-size: 0.6rem;
        }
      }

      .auth-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          border-radius: 8px;
          padding: 0 1.4rem !important;
        }

        .login-button {
          border: none !important;
          margin-right: 1rem;
          background-color: var(--orange-800);
          color: var(--text-white);

          &:hover {
            opacity: 0.8;
          }
        }

        .register-button {
          border: 1px solid var(--gray-700) !important;
          margin-right: 1rem;
          background-color: transparent;
          color: var(--gray-700);

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.ant-dropdown .ant-dropdown-menu {
  background-color: var(--blue-900);

  .ant-dropdown-menu-item:hover{
    opacity: 0.7 !important;
  }

  .ant-dropdown-menu-title-content {
    a:not(.logout){
      color: var(--text-gray) !important;
    }
    .logout {
      color: var(--red-900) !important;
    }
  }
}

#root {
  width: 100%;
}

// tablets, smartphones query
@media only screen and (max-width: 768px) {
  .avatar-account {
    display: none !important;
  }
}
